/* App.css */

nav {
  background: linear-gradient(to right, #014694, #21f372);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Arial', sans-serif; /* Use single quotes for font family with spaces */
}

.logo-container img {
  width: 50px;
  margin-right: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line on smaller screens */
}

/* Add a container for each link */
li {
  display: inline;
  margin: 5px; /* Add some margin between links for better spacing */
}

/* Style each link container */
.link-container {
  padding: 8px 12px;
  border-radius: 5px;
  transition: background 0.3s ease, transform 0.3s ease; /* Add transform property for scale effect */
}

/* Style Link components with a capital 'L' */
Link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px; /* Adjust the font size for better readability */
  font-family: 'Arial', sans-serif; /* Use single quotes for font family with spaces */
  transition: color 0.3s ease-out; /* Add transition property for color change */
}

/* Change the text color of Link on hover */
Link:hover {
  color: #ffcc00;
}

/* Change the background color and scale of each link container on hover */
.link-container:hover {
  background: linear-gradient(to right, #947901, #217cf3);
  transform: scale(1.05); /* Increase the size slightly on hover */
}

/* Media query for smaller screens (mobile) */
@media only screen and (max-width: 768px) {
  ul {
    flex-direction: column; /* Stack the links vertically on smaller screens */
  }

  li {
    margin: 5px 0; /* Adjust margin for better spacing */
  }
}
